.container-matTab {
    position: relative;
    width: 100%;
} 
.demo-button {
    background-color: rgb(6, 85, 81);
    color: aliceblue;
}
.button-Finish {
    background-color: rgb(19, 119, 10);
}

ion-accordion.my-accordion ion-item.level1 {
    background-color: rgb(26, 101, 145);
    color: rgb(0, 0, 0);
}
ion-accordion.accordion-expanding ion-item.level1,
ion-accordion.accordion-expanded ion-item.level1 {
  background-color: rgb(35, 174, 255);
  --color: rgb(143, 0, 0);
}
/** Table */
.content-column-child-4 {
    .mat-column-saison {
        width: 40px;
    }
    .mat-column-dds {
        width: 56px;
    }
    .mat-column-qsa {
        width: 49px;
    }
    .mat-column-association {
        width: 130px;
    } 
    .mat-column-img_fact{
        width: 51px;
    }
}

.contonaire-content-flex {
    background-color: rgb(248, 248, 136);
}
.child-row-modifier {
    justify-content: center;
}
.child-row-Filtre > .child-flex-Filtre1 {
    justify-content: flex-start;
}
.child-flex-Filtre1, .child-flex-Filtre2, .child-flex-Filtre3 {
    padding-right: 18px;
}
.child-flex-Filtre1 .mat-form-field, .child-flex-Filtre2 .mat-form-field {
    width: 170px;
}
.child-flex-Filtre3 .mat-form-field {
    width: 100px;
}

/**
* Forme field
*/

::ng-deep {
    /**
    *appearance-legacy
    */
    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        /** same value in the mat-form-field-underline*/
        padding-bottom: 0 !important;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        /** same value in the .mat-form-field-wrapper*/
        bottom: 0 !important;
    }
    .mat-form-field-appearance-legacy .mat-select-arrow-wrapper {
        vertical-align: inherit !important;
    }
    .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: .3375em 0;
        margin-top: -14px;
    }
}