<ion-header>
  <div class="container-header-flex">
    <div class="flex-container" fxLayout="row">
      <!--Flex row 1 menu boutton-->
      <div class="flex-child-1" fxLayoutAlign="center center">
        <ion-buttons>
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
      </div>
      <!--Flex row 2 Zone-->
      <div class="flex-child-2 width100" fxLayoutAlign="center center">
        <div class="flex-container width100" fxLayout="column">
          <div class="column-child-1" fxLayoutAlign="center center" style="padding: 1px 0;">
            Projet {{projet.nom}} 
            <button ion-button icon-only routerLink="/homes" routerDirection="root">
              <ion-icon name="arrow-round-back"></ion-icon>
            </button>
          </div> 
          <div class="column-child-2">
            <div class="flex-container" fxLayout="row" fxLayoutGap="5px" style="justify-content: space-around;">
              <div class="child1-row-flex" fxLayout="row" fxLayoutGap="2px">
                <div class="label-region" fxLayoutAlign="center center">Region</div>
                <mat-card class="item-matcard-flex" fxLayoutAlign="start center">{{region.nom_reg}}</mat-card> 
              </div>
              <div class="child2-row-flex" fxLayout="row" fxLayoutGap="2px">
                <div class="label-region" fxLayoutAlign="center center">District</div>
                <mat-card class="item-matcard-flex" fxLayoutAlign="start center">{{district.nom_dist}}</mat-card> 
              </div>
              <div class="child3-row-flex" fxLayout="row" fxLayoutGap="2px">
                <div class="label-region" fxLayoutAlign="center center">Commune</div>
                <mat-card class="item-matcard-flex" fxLayoutAlign="start center">{{commune.nom_com}}</mat-card>
              </div>
              <div class="child3-row-flex" fxLayout="row" fxLayoutGap="2px">
                <button mat-raised-button (click)="presentModal()" class="demo-button">
                  Modifier
                </button>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>

  <div class="ion-text-center ion-text-wrap">
    Identification de Beneficiaire
  </div>
  <!-- visualiser liste beneficiaire -->
  <mat-tab-group mat-align-tabs="start" (selectedIndexChange)="selectMatTab($event)">
    <mat-tab label="Associaton">
        <mat-form-field appearance="standard">
          <mat-label>Filtre</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Merci de tapez ici votre mot" #input>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Selectionner une association</mat-label>
          <mat-select [(ngModel)]="selectedAssoc" (ngModelChange)="applyFilterSelect($event, 'association')">
            <mat-option (click)="applyFilterTout('association')" [value]="">tout</mat-option>
            <mat-option *ngFor="let assoc of filterDataAssoc" [value]="assoc">
              {{ assoc }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="container-matTab mat-elevation-z8">
          <div *ngIf="isFiltered">
            <div *ngFor="let ass of filterData" >
              <p>Asociation: {{ass.nom_ass}}</p>
              <p>Fokontany: {{ass.nom_fkt}}</p>
              <p>Nom P.A: {{ass.nom_pa}}</p>
              <p>Prenom P.A: {{ass.prenom}}</p>
              <p>cin: {{ass.cin}}</p>
              <p>date délivrance : {{ass.dt_delivrance}}</p>
              <p>Lieu délivrance : {{ass.lieu_delivrance}}</p>
            </div>
          </div>
          <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort  #assocSort="matSort">

              <!-- Fokontany Column -->
              <ng-container matColumnDef="fokontany" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fokontany </th>
                <td mat-cell *matCellDef="let row"> {{row.nom_fkt}} </td>
              </ng-container>
  
              <!-- Association Column -->
              <ng-container matColumnDef="association" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Association </th>
                <td mat-cell *matCellDef="let row"> {{row.nom_ass}} </td>
              </ng-container>
  
              <!-- Code PA Column -->
              <ng-container matColumnDef="code_benef">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> code PA </th>
                <td mat-cell *matCellDef="let row"> </td>
              </ng-container>
  
              <!-- Nom PA Column -->
              <ng-container matColumnDef="pa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom PA </th>
                <td mat-cell *matCellDef="let row"> {{row.nom_pa}} </td>
              </ng-container>
  
              <!-- Sexe PA Column -->
              <ng-container matColumnDef="sexe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexe </th>
                <td mat-cell *matCellDef="let row"> {{row.sexe}} </td>
              </ng-container>
  
              <!-- cin PA Column -->
              <ng-container matColumnDef="cin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cin </th>
                <td mat-cell *matCellDef="let row"> {{row.cin}} </td>
              </ng-container>
  
              <!-- surnom PA Column -->
              <ng-container matColumnDef="surnom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Surnom </th>
                <td mat-cell *matCellDef="let row"> {{row.surnom}} </td>
              </ng-container>
  
              <!-- Nombre PMS Column -->
              <ng-container matColumnDef="nb_pms">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nbre_pms </th>
                <td mat-cell *matCellDef="let row"> {{row.nb_benef}} </td>
              </ng-container>
  
              <!-- Technicien Responsable Column -->
              <ng-container matColumnDef="technicien">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Technicien </th>
                <td mat-cell *matCellDef="let row"> {{row.technicien}} </td>
              </ng-container>
          
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Aucun enregistrement"</td>
              </tr>
            </table>
          </div>
        
          <mat-paginator
            #assocPaginator 
            [pageSizeOptions]="[5, 10, 25]" 
            aria-label="Select page of association"  
            showFirstLastButtons
          ></mat-paginator>
        </div>   

    </mat-tab>
    <mat-tab label="PMS">
      <div class="content-flex" fxLayout="column width100">
        <!--Column 1 Filtre-->
        <div class="child-column">
          <mat-form-field>
            <mat-label>Selectionner une association</mat-label>
            <mat-select [(ngModel)]="selectedAssocPms" (ngModelChange)="applyFilterSelect($event, 'pms')">
              <mat-option (click)="applyFilterTout('pms')" [value]="">tout</mat-option>
              <mat-option *ngFor="let assoc of filterDataAssoc" [value]="assoc">
                {{ assoc }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--Column btn-->
        <div class="child-column" fxLayout="row">
          <div class="child-row">
            <button mat-raised-button (click)="onToggleTableRows()" class="demo-button">Tout afficher</button>
          </div>
          <div class="child-row">
            <button mat-raised-button (click)="onUpdate()" class="demo-button" *ngIf="!isUpdate">Modifier</button>
            <button mat-raised-button (click)="onFinish()" class="demo-button" *ngIf="isUpdate">Terminer</button>
          </div>
          <div class="child-row">
            <button mat-raised-button (click)="onExport()" class="demo-button" *ngIf="!isUpdate">Exporter</button>
          </div>
          <div class="child-row">
            <button mat-raised-button (click)="onUpdatePms({src: 'add'})" class="demo-button" *ngIf="isUpdate" [disabled]="isAddPms || isEditRowPms">Ajouter</button>
          </div>
          <div class="child-row">
            <button mat-raised-button (click)="loadPArcelleTest()" class="demo-button">Refresh</button>
          </div>
        </div>
      </div>
      <!--Column content-->
      <div class="child-column" fxLayout="column width100">
        <!--Table-->
        <div class="child-column-2 container-matTab mat-elevation-z8">
          <div class="table-container">
            <table mat-table [dataSource]="dataSourceBenef" multiTemplateDataRows matSort #benefSort="matSort"> <!--matSort #benefSort="matSort"-->

              <!-- Association Column -->
              <ng-container matColumnDef="association" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Association </th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;"> {{row.nom_ass}} </td>
              </ng-container>
              <!-- Association Column -->
              <ng-container matColumnDef="new_association" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header>new_ass</th>
              </ng-container>
    
              <!-- Fokontany Column -->
              <ng-container matColumnDef="fokontany">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fokontany </th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;"> {{row.fkt_association}} </td>
              </ng-container>
              <ng-container matColumnDef="new_fokontany">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>new_fkt</th>
              </ng-container>
    
              <!-- Code PA Column -->
              <ng-container matColumnDef="code_pms">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> code PMS </th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;"> {{row.code_benef_pms}} </td>
              </ng-container>
              <ng-container matColumnDef="new_code_pms">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>new_cd_pms</th>
              </ng-container>
  
              <!-- Code Achat Column -->
              <ng-container matColumnDef="code_ahat">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>code Achat</th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;"> {{row.code_achat}} </td>
              </ng-container>
              <ng-container matColumnDef="new_code_ahat">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>new_cd_ach</th>
              </ng-container>
    
              <!-- Nom PA Column -->
              <ng-container matColumnDef="pms">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom PMS </th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;"> {{row.nom_benef}} - {{row.prenom}} </td>
              </ng-container>
              <ng-container matColumnDef="new_pms">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>--</th>
              </ng-container>
    
              <!-- Sexe PA Column -->
              <ng-container matColumnDef="sexe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexe </th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;"> {{row.sexe}} </td>
              </ng-container>
              <ng-container matColumnDef="new_sexe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> new_ </th>
              </ng-container>
    
              <!-- cin PA Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dt_nais </th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;"> {{row.dt_nais}} </td>
              </ng-container>
              <ng-container matColumnDef="new_age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> -- </th>
              </ng-container>
    
              <!-- cin PA Column -->
              <ng-container matColumnDef="cin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cin </th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;"> {{row.cin}} </td>
              </ng-container>
              <ng-container matColumnDef="new_cin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> new_Cin </th>
              </ng-container>
    
              <!-- village PA Column -->
              <ng-container matColumnDef="village">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> résidence </th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;"> {{row.adress}} </td>
              </ng-container>
              <ng-container matColumnDef="new_village">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> new_res</th>
              </ng-container>
  
              <ng-container matColumnDef="collaborateur">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;"> {{row.nom_collab}} </td>
              </ng-container>
              <ng-container matColumnDef="new_collaborateur">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>new_col</th>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row; let i = dataIndex;">
                  <span *ngIf="indexEditRowPms == i  && isEditRowPms && isUpdate">
                    <a (click)="onCancelAddPms({src: 'edit'})">Annuler</a> |
                    <a (click)="onSaveAddPms({src: 'edit', elem_pms: row})">modifier</a>
                  </span>
                  <span *ngIf="!isUpdate">
                    <button mat-flat-button class="btn-info btn-dimension" (click)="row.isExpanded = !row.isExpanded">Parcelle</button>
                  </span>
                  <div *ngIf="isUpdate && !isAddPms && !isEditRowPms" fxLayout="row">
                    <div class="child-row-btn">
                      <a (click)="onUpdatePms({src: 'edit', element: row, ind_pms: i})">Editer</a>
                    </div>
                    <div class="child-row-btn">
                      <button mat-flat-button class="btn-info btn-dimension" (click)="onAddShowPms({index_: i})">Afficher</button>
                    </div>
                  </div>
                </td>
              </ng-container>
              <!--Column New Action-->
              <ng-container matColumnDef="new_action">
                <th mat-header-cell *matHeaderCellDef>
                  <span>
                    <a (click)="onCancelAddPms({src: 'add'})">Cancel</a> |
                    <a (click)="onSaveAddPms({src: 'add'})">Done</a>
                  </span>
                </th>
              </ng-container>

              <!-- Template for details row -->
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element; dataIndex as i;" [attr.colspan]="displayedColumnsBenef.length">
                  <div class="row sv-element-detail" [@detailExpand]="element.isExpanded && element.parcelle.length > 0 || isUpdate && element.isExpanded? 'expanded' : 'collapsed'">
                    <table mat-table [dataSource]="element.parcelle">

                      ['', 'code_parce', 'ref_gps', 'lat', 'log', 'superficie', '', '', 'action'];

                      <!-- Annee agricole Column -->
                      <ng-container matColumnDef="annee">
                        <th mat-header-cell *matHeaderCellDef> Annee </th>
                        <td mat-cell *matCellDef="let row"> {{row.annee_du}}-{{row.annee_au}} </td>
                      </ng-container>

                      <!-- Saison Column -->
                      <ng-container matColumnDef="saison">
                        <th mat-header-cell *matHeaderCellDef> Saison </th>
                        <td mat-cell *matCellDef="let row"> {{row.saison}} </td>
                      </ng-container>

                      <!-- Saison Column -->
                      <ng-container matColumnDef="variette">
                        <th mat-header-cell *matHeaderCellDef> Variette </th>
                        <td mat-cell *matCellDef="let row"> {{row.variette}} </td>
                      </ng-container>

                      <!-- Objectif Column -->
                      <ng-container matColumnDef="objectif">
                        <th mat-header-cell *matHeaderCellDef> Objectif </th>
                        <td mat-cell *matCellDef="let row"> {{row.objectif}} </td>
                      </ng-container>

                      <!-- Fokontany Column -->
                      <ng-container matColumnDef="adresse">
                        <th mat-header-cell *matHeaderCellDef> Fokontany </th>
                        <td mat-cell *matCellDef="let row"> {{row.fokontany_prc}} </td>
                      </ng-container>

                      <!-- Fokontany Column -->
                      <ng-container matColumnDef="indication">
                        <th mat-header-cell *matHeaderCellDef> Indication </th>
                        <td mat-cell *matCellDef="let row"> {{row.indication}} </td>
                      </ng-container>
            
                      <!-- Code_parce Column -->
                      <ng-container matColumnDef="code_parce">
                        <th mat-header-cell *matHeaderCellDef> code parce </th>
                        <td mat-cell *matCellDef="let row"> {{row.code_parce}} </td>
                      </ng-container>
            
                      <!-- ref_gps Column -->
                      <ng-container matColumnDef="ref_gps">
                        <th mat-header-cell *matHeaderCellDef> ref_gps </th>
                        <td mat-cell *matCellDef="let row"> {{row.ref_gps}} </td>
                      </ng-container>
            
                      <!-- Sexe PA Column -->
                      <ng-container matColumnDef="lat">
                        <th mat-header-cell *matHeaderCellDef> lat </th>
                        <td mat-cell *matCellDef="let row"> {{row.lat}} </td>
                      </ng-container>
            
                      <!-- cin PA Column -->
                      <ng-container matColumnDef="log">
                        <th mat-header-cell *matHeaderCellDef> log </th>
                        <td mat-cell *matCellDef="let row"> {{row.log}} </td>
                      </ng-container>
            
                      <!-- surnom PA Column -->
                      <ng-container matColumnDef="superficie">
                        <th mat-header-cell *matHeaderCellDef> superficie </th>
                        <td mat-cell *matCellDef="let row"> {{row.superficie}} </td>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let row">  </td>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="displayedColumnsParcePms; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsParcePms;"></tr>
                  
                      <!-- Row shown when there is no matching data. -->
                      <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Aucun enregistrement"</td>
                      </tr>
                    </table>
                  </div>
                  <div class="row sv-element-detail-vide" [@detailExpand]="!isUpdate && element.isExpanded && element.parcelle.length == 0? 'expanded' : 'collapsed'">
                    <div mat-line>Aucun champs Ecole Enregistrer pour PR {{element.code_pr}}</div>
                  </div>
      
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsBenef; sticky: true"></tr>
              <tr [hidden]="!isAddPms" mat-header-row *matHeaderRowDef="displayedColumnsAddBenef; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsBenef;" [class.sv-expanded-row]="row.isExpanded" [class.sv-row-vide]="row.parcelle.length == 0"></tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Aucun enregistrement"</td>
              </tr>
            </table>            
          </div>
        </div>
        <!--Pagination table-->
        <div class="child-column-2">
          <mat-paginator 
          #benfPaginator 
          [pageSizeOptions]="[25, 50]" 
          aria-label="Select page of pms" 
          showFirstLastButtons
        ></mat-paginator>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Parcelle">
      <h1>Liste des Parcelle</h1>

      <div class="container-matTab mat-elevation-z8">
        <div class="demo-button-container">
          <mat-form-field>
            <mat-label>Selectionner une association</mat-label>
            <mat-select [(ngModel)]="selectedAssocParce" (ngModelChange)="applyFilterSelect($event, 'parcelle')">
              <mat-option (click)="applyFilterTout('parcelle')" [value]="">tout</mat-option>
              <mat-option *ngFor="let assoc of filterDataAssoc" [value]="assoc">
                {{ assoc }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button (click)="addData()" class="demo-button">
            Modification
          </button>
        </div>
        <!--<div *ngIf="isFiltered">
          <div *ngFor="let parce of filterDataParce" >
            <p>Asociation: {{parce.nom_ass}}</p>
            <p>Fokontany: {{parce.fkt_association}}</p>
            <p>Nombre Parcelle: {{nb_parce_ass_filter}} </p>
          </div>
        </div>-->
        <div class="table-container">
          <table mat-table [dataSource]="dataSourceParce" matSort>

            <!-- Code pms Column -->
            <ng-container matColumnDef="code_pms">
              <th mat-header-cell *matHeaderCellDef> code_pms </th>
              <td mat-cell *matCellDef="let row"> {{row.code_benef_pms}} </td>
            </ng-container>

            <!-- Code Achat Column -->
            <ng-container matColumnDef="code_ahat">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>code Achat</th>
              <td mat-cell *matCellDef="let row"> {{row.code_achat}} </td>
            </ng-container>
  
            <!-- nom_pms Column -->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef> Nom </th>
              <td mat-cell *matCellDef="let row"> {{row.nom}} {{row.prenom}}  </td>
            </ng-container>
  
            <!-- Code_parce Column -->
            <ng-container matColumnDef="code_parce" sticky>
              <th mat-header-cell *matHeaderCellDef> code parce </th>
              <td mat-cell *matCellDef="let row"> {{row.code_parce}} </td>
            </ng-container>
  
            <!-- ref_gps Column -->
            <ng-container matColumnDef="ref_gps">
              <th mat-header-cell *matHeaderCellDef> ref_gps </th>
              <td mat-cell *matCellDef="let row"> {{row.ref_gps}} </td>
            </ng-container>
  
            <!-- Sexe PA Column -->
            <ng-container matColumnDef="lat">
              <th mat-header-cell *matHeaderCellDef> lat </th>
              <td mat-cell *matCellDef="let row"> {{row.lat}} </td>
            </ng-container>
  
            <!-- cin PA Column -->
            <ng-container matColumnDef="log">
              <th mat-header-cell *matHeaderCellDef> log </th>
              <td mat-cell *matCellDef="let row"> {{row.log}} </td>
            </ng-container>
  
            <!-- surnom PA Column -->
            <ng-container matColumnDef="superficie">
              <th mat-header-cell *matHeaderCellDef> superficie </th>
              <td mat-cell *matCellDef="let row"> {{row.superficie}} </td>
            </ng-container>
  
            <!-- Nombre PMS Column -->
            <ng-container matColumnDef="nb_cultures">
              <th mat-header-cell *matHeaderCellDef> nb_cultures </th>
              <td mat-cell *matCellDef="let row"> 0 </td>
            </ng-container>
  
            <!-- Technicien Responsable Column -->
            <ng-container matColumnDef="cultures">
              <th mat-header-cell *matHeaderCellDef> cultures </th>
              <td mat-cell *matCellDef="let row"> non definit </td>
            </ng-container>
        
  
            <tr mat-header-row *matHeaderRowDef="displayedColumnsParce; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsParce;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Aucun enregistrement"</td>
            </tr>
          </table>
        </div>
        <mat-paginator 
          #parcePaginator 
          [pageSizeOptions]="[5, 10, 25]" 
          aria-label="Select page of parcelle" 
          showFirstLastButtons
        ></mat-paginator>
      </div>   
    </mat-tab>
  </mat-tab-group>
</ion-content>