 
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.container-matTab {
  /**width: 100%;
  overflow: auto;*/
  position: relative;
}  
.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

tr.example-element-row:active {
  background: rgb(155, 149, 149);
  font-weight: bold;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

table {
  width: 90%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}