<ion-header>
  <div class="container-header-flex">
    <div class="flex-container" fxLayout="row">
      <!--Flex row 1 menu boutton-->
      <div class="flex-child-1" fxLayoutAlign="center center">
        <ion-buttons>
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
      </div>
      <!--Flex row 2 Zone-->
      <div class="flex-child-2 width100" fxLayoutAlign="center center">
        <div class="flex-container width100" fxLayout="column">
          <div class="column-child-1" fxLayoutAlign="center center" style="padding: 1px 0;">
            Projet {{projet.nom}} 
            <button ion-button icon-only routerLink="/homes" routerDirection="root">
              <ion-icon name="arrow-round-back"></ion-icon>
            </button>
          </div> 
          <div class="column-child-2">
            <div class="flex-container" fxLayout="row" fxLayoutGap="5px" style="justify-content: space-around;">
              <div class="child1-row-flex" fxLayout="row" fxLayoutGap="2px">
                <div class="label-region" fxLayoutAlign="center center">Region</div>
                <mat-card class="item-matcard-flex" fxLayoutAlign="start center">{{region.nom_reg}}</mat-card> 
              </div>
              <div class="child2-row-flex" fxLayout="row" fxLayoutGap="2px">
                <div class="label-region" fxLayoutAlign="center center">District</div>
                <mat-card class="item-matcard-flex" fxLayoutAlign="start center">{{district.nom_dist}}</mat-card> 
              </div>
              <div class="child3-row-flex" fxLayout="row" fxLayoutGap="2px">
                <div class="label-region" fxLayoutAlign="center center">Commune</div>
                <mat-card class="item-matcard-flex" fxLayoutAlign="start center">{{commune.nom_com}}</mat-card>
              </div>
              <div class="child3-row-flex" fxLayout="row" fxLayoutGap="2px">
                <button mat-raised-button (click)="presentModal()" class="demo-button">
                  Modifier
                </button>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>

  <div class="ion-text-center ion-text-wrap">
    Identification de Beneficiaire
  </div>
  <!-- visualiser liste beneficiaire -->
  <mat-tab-group mat-align-tabs="start" (selectedIndexChange)="selectMatTab($event)">
    <mat-tab label="Associaton">
        <mat-form-field appearance="standard">
          <mat-label>Filtre</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Merci de tapez ici votre mot" #input>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Selectionner une association</mat-label>
          <mat-select [(ngModel)]="selectedAssoc" (ngModelChange)="applyFilterSelect($event, 'association')">
            <mat-option (click)="applyFilterTout('association')" [value]="">tout</mat-option>
            <mat-option *ngFor="let assoc of filterDataAssoc" [value]="assoc">
              {{ assoc }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="container-matTab mat-elevation-z8">
          <div *ngIf="isFiltered">
            <div *ngFor="let ass of filterData" >
              <p>Asociation: {{ass.nom_ass}}</p>
              <p>Fokontany: {{ass.nom_fkt}}</p>
              <p>Nom P.A: {{ass.nom_pa}}</p>
              <p>Prenom P.A: {{ass.prenom}}</p>
              <p>cin: {{ass.cin}}</p>
              <p>date délivrance : {{ass.dt_delivrance}}</p>
              <p>Lieu délivrance : {{ass.lieu_delivrance}}</p>
            </div>
          </div>
          <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort  #assocSort="matSort">

              <!-- Fokontany Column -->
              <ng-container matColumnDef="fokontany" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fokontany </th>
                <td mat-cell *matCellDef="let row"> {{row.nom_fkt}} </td>
              </ng-container>
  
              <!-- Association Column -->
              <ng-container matColumnDef="association" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Association </th>
                <td mat-cell *matCellDef="let row"> {{row.nom_ass}} </td>
              </ng-container>
  
              <!-- Code PA Column -->
              <ng-container matColumnDef="code_benef">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> code PA </th>
                <td mat-cell *matCellDef="let row"> </td>
              </ng-container>
  
              <!-- Nom PA Column -->
              <ng-container matColumnDef="pa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom PA </th>
                <td mat-cell *matCellDef="let row"> {{row.nom_pa}} </td>
              </ng-container>
  
              <!-- Sexe PA Column -->
              <ng-container matColumnDef="sexe">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexe </th>
                <td mat-cell *matCellDef="let row"> {{row.sexe}} </td>
              </ng-container>
  
              <!-- cin PA Column -->
              <ng-container matColumnDef="cin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cin </th>
                <td mat-cell *matCellDef="let row"> {{row.cin}} </td>
              </ng-container>
  
              <!-- surnom PA Column -->
              <ng-container matColumnDef="surnom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Surnom </th>
                <td mat-cell *matCellDef="let row"> {{row.surnom}} </td>
              </ng-container>
  
              <!-- Nombre PMS Column -->
              <ng-container matColumnDef="nb_pms">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nbre_pms </th>
                <td mat-cell *matCellDef="let row"> {{row.nb_benef}} </td>
              </ng-container>
  
              <!-- Technicien Responsable Column -->
              <ng-container matColumnDef="technicien">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Technicien </th>
                <td mat-cell *matCellDef="let row"> {{row.technicien}} </td>
              </ng-container>
          
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Aucun enregistrement"</td>
              </tr>
            </table>
          </div>
        
          <mat-paginator
            #assocPaginator 
            [pageSizeOptions]="[5, 10, 25]" 
            aria-label="Select page of association"  
            showFirstLastButtons
          ></mat-paginator>
        </div>   

    </mat-tab>
    <mat-tab label="PMS">
      <h1>Liste des bénéficiaires</h1>
      <div class="container-matTab mat-elevation-z8">

        <div class="demo-button-container">
          <mat-form-field>
            <mat-label>Selectionner une association</mat-label>
            <mat-select [(ngModel)]="selectedAssocPms" (ngModelChange)="applyFilterSelect($event, 'pms')">
              <mat-option (click)="applyFilterTout('pms')" [value]="">tout</mat-option>
              <mat-option *ngFor="let assoc of filterDataAssoc" [value]="assoc">
                {{ assoc }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button (click)="addData()" class="demo-button">
            Modification
          </button>
        </div>
        <div class="table-container">
          <table mat-table [dataSource]="dataSourceBenef" matSort #benefSort="matSort">

            <!-- Association Column -->
            <ng-container matColumnDef="association" sticky>
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Association </th>
              <td mat-cell *matCellDef="let row"> {{row.nom_ass}} </td>
            </ng-container>
  
            <!-- Fokontany Column -->
            <ng-container matColumnDef="fokontany">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fokontany </th>
              <td mat-cell *matCellDef="let row"> {{row.fkt_association}} </td>
            </ng-container>
  
            <!-- Code PA Column -->
            <ng-container matColumnDef="code_pms">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> code PMS </th>
              <td mat-cell *matCellDef="let row"> {{row.code_benef_pms}} </td>
            </ng-container>

            <!-- Code Achat Column -->
            <ng-container matColumnDef="code_ahat">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>code Achat</th>
              <td mat-cell *matCellDef="let row"> {{row.code_achat}} </td>
            </ng-container>
  
            <!-- Nom PA Column -->
            <ng-container matColumnDef="pms">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom PMS </th>
              <td mat-cell *matCellDef="let row"> {{row.nom_benef}} - {{row.prenom}} </td>
            </ng-container>
  
            <!-- Sexe PA Column -->
            <ng-container matColumnDef="sexe">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexe </th>
              <td mat-cell *matCellDef="let row"> {{row.sexe}} </td>
            </ng-container>
  
            <!-- cin PA Column -->
            <ng-container matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Dt_nais </th>
              <td mat-cell *matCellDef="let row"> {{row.dt_nais}} </td>
            </ng-container>
  
            <!-- cin PA Column -->
            <ng-container matColumnDef="cin">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Cin </th>
              <td mat-cell *matCellDef="let row"> {{row.cin}} </td>
            </ng-container>
  
            <!-- village PA Column -->
            <ng-container matColumnDef="village">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> résidence </th>
              <td mat-cell *matCellDef="let row"> {{row.adress}} </td>
            </ng-container>

            <ng-container matColumnDef="collaborateur">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
              <td mat-cell *matCellDef="let row"> {{row.nom_collab}} </td>
            </ng-container>

            <!-- village PA Column -->
            <ng-container matColumnDef="nb_parcelle">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> nb_parcelle </th>
              <td mat-cell *matCellDef="let row"> {{row.nb_parcelle}} </td>
            </ng-container>

            <ng-container matColumnDef="sum_parce">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> superficie </th>
              <td mat-cell *matCellDef="let row"> {{row.sum_superf}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumnsBenef; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsBenef;"
              class="example-element-row" 
              [class.example-expanded-row]="expandedElement === row"
              (click)="onRowClickedBenef(row)">
            </tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Aucun enregistrement"</td>
            </tr>
          </table>
        </div>
      
        <mat-paginator 
          #benfPaginator 
          [pageSizeOptions]="[5, 10, 25]" 
          aria-label="Select page of pms" 
          showFirstLastButtons
        ></mat-paginator>
        <h4>Parcelle Beneficiaire</h4>
        <div *ngIf = "isClickedBenef" class="table-container">
          <table mat-table [dataSource]="dataSourceParceSingle" matSort>

            <!-- Code pms Column -->
            <ng-container matColumnDef="code_pms" sticky>
              <th mat-header-cell *matHeaderCellDef> code_pms </th>
              <td mat-cell *matCellDef="let row"> {{row.code_benef_pms}} </td>
            </ng-container>

            <!-- Code Achat Column -->
            <ng-container matColumnDef="code_ahat">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>code Achat</th>
              <td mat-cell *matCellDef="let row"> {{row.code_achat}} </td>
            </ng-container>
  
            <!-- nom_pms Column -->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef> Nom </th>
              <td mat-cell *matCellDef="let row"> {{row.nom}} {{row.prenom}}  </td>
            </ng-container>
  
            <!-- Code_parce Column -->
            <ng-container matColumnDef="code_parce">
              <th mat-header-cell *matHeaderCellDef> code parce </th>
              <td mat-cell *matCellDef="let row"> {{row.code_parce}} </td>
            </ng-container>
  
            <!-- ref_gps Column -->
            <ng-container matColumnDef="ref_gps">
              <th mat-header-cell *matHeaderCellDef> ref_gps </th>
              <td mat-cell *matCellDef="let row"> {{row.ref_gps}} </td>
            </ng-container>
  
            <!-- Sexe PA Column -->
            <ng-container matColumnDef="lat">
              <th mat-header-cell *matHeaderCellDef> lat </th>
              <td mat-cell *matCellDef="let row"> {{row.lat}} </td>
            </ng-container>
  
            <!-- cin PA Column -->
            <ng-container matColumnDef="log">
              <th mat-header-cell *matHeaderCellDef> log </th>
              <td mat-cell *matCellDef="let row"> {{row.log}} </td>
            </ng-container>
  
            <!-- surnom PA Column -->
            <ng-container matColumnDef="superficie">
              <th mat-header-cell *matHeaderCellDef> superficie </th>
              <td mat-cell *matCellDef="let row"> {{row.superficie}} </td>
            </ng-container>
  
            <!-- Nombre PMS Column -->
            <ng-container matColumnDef="nb_cultures">
              <th mat-header-cell *matHeaderCellDef> nb_cultures </th>
              <td mat-cell *matCellDef="let row"> 0 </td>
            </ng-container>
  
            <!-- Technicien Responsable Column -->
            <ng-container matColumnDef="cultures">
              <th mat-header-cell *matHeaderCellDef> cultures </th>
              <td mat-cell *matCellDef="let row"> non definit </td>
            </ng-container>
        
  
            <tr mat-header-row *matHeaderRowDef="displayedColumnsParceSingle; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsParceSingle;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Aucun enregistrement"</td>
            </tr>
          </table>
        </div>
      </div> 
      
      
    </mat-tab>
    <mat-tab label="Parcelle">
      <h1>Liste des Parcelle</h1>

      <div class="container-matTab mat-elevation-z8">
        <div class="demo-button-container">
          <mat-form-field>
            <mat-label>Selectionner une association</mat-label>
            <mat-select [(ngModel)]="selectedAssocParce" (ngModelChange)="applyFilterSelect($event, 'parcelle')">
              <mat-option (click)="applyFilterTout('parcelle')" [value]="">tout</mat-option>
              <mat-option *ngFor="let assoc of filterDataAssoc" [value]="assoc">
                {{ assoc }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button (click)="addData()" class="demo-button">
            Modification
          </button>
        </div>
        <!--<div *ngIf="isFiltered">
          <div *ngFor="let parce of filterDataParce" >
            <p>Asociation: {{parce.nom_ass}}</p>
            <p>Fokontany: {{parce.fkt_association}}</p>
            <p>Nombre Parcelle: {{nb_parce_ass_filter}} </p>
          </div>
        </div>-->
        <div class="table-container">
          <table mat-table [dataSource]="dataSourceParce" matSort>

            <!-- Code pms Column -->
            <ng-container matColumnDef="code_pms">
              <th mat-header-cell *matHeaderCellDef> code_pms </th>
              <td mat-cell *matCellDef="let row"> {{row.code_benef_pms}} </td>
            </ng-container>

            <!-- Code Achat Column -->
            <ng-container matColumnDef="code_ahat">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>code Achat</th>
              <td mat-cell *matCellDef="let row"> {{row.code_achat}} </td>
            </ng-container>
  
            <!-- nom_pms Column -->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef> Nom </th>
              <td mat-cell *matCellDef="let row"> {{row.nom}} {{row.prenom}}  </td>
            </ng-container>
  
            <!-- Code_parce Column -->
            <ng-container matColumnDef="code_parce" sticky>
              <th mat-header-cell *matHeaderCellDef> code parce </th>
              <td mat-cell *matCellDef="let row"> {{row.code_parce}} </td>
            </ng-container>
  
            <!-- ref_gps Column -->
            <ng-container matColumnDef="ref_gps">
              <th mat-header-cell *matHeaderCellDef> ref_gps </th>
              <td mat-cell *matCellDef="let row"> {{row.ref_gps}} </td>
            </ng-container>
  
            <!-- Sexe PA Column -->
            <ng-container matColumnDef="lat">
              <th mat-header-cell *matHeaderCellDef> lat </th>
              <td mat-cell *matCellDef="let row"> {{row.lat}} </td>
            </ng-container>
  
            <!-- cin PA Column -->
            <ng-container matColumnDef="log">
              <th mat-header-cell *matHeaderCellDef> log </th>
              <td mat-cell *matCellDef="let row"> {{row.log}} </td>
            </ng-container>
  
            <!-- surnom PA Column -->
            <ng-container matColumnDef="superficie">
              <th mat-header-cell *matHeaderCellDef> superficie </th>
              <td mat-cell *matCellDef="let row"> {{row.superficie}} </td>
            </ng-container>
  
            <!-- Nombre PMS Column -->
            <ng-container matColumnDef="nb_cultures">
              <th mat-header-cell *matHeaderCellDef> nb_cultures </th>
              <td mat-cell *matCellDef="let row"> 0 </td>
            </ng-container>
  
            <!-- Technicien Responsable Column -->
            <ng-container matColumnDef="cultures">
              <th mat-header-cell *matHeaderCellDef> cultures </th>
              <td mat-cell *matCellDef="let row"> non definit </td>
            </ng-container>
        
  
            <tr mat-header-row *matHeaderRowDef="displayedColumnsParce; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsParce;"></tr>
        
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Aucun enregistrement"</td>
            </tr>
          </table>
        </div>
        <mat-paginator 
          #parcePaginator 
          [pageSizeOptions]="[5, 10, 25]" 
          aria-label="Select page of parcelle" 
          showFirstLastButtons
        ></mat-paginator>
      </div>   
    </mat-tab>
  </mat-tab-group>
</ion-content>