 
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container-matTab {
  position: relative;
  width: 100%;
} 
.table-container {
  position: relative;
  overflow: auto;
}

tr.example-element-row:active {
  background: rgb(155, 149, 149);
  font-weight: bold;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

table {
  width: 100%;
}
tr.mat-header-row {
  height: 30px;
  background-color: rgb(116 177 198);;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 2px;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}
tr.mat-row, tr.mat-footer-row {
  height: 25px;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-right-width: 0.4px;
  border-right-style: inset;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
/**Expanded Row*/
.sv-element-detail td {
  border-bottom-width: 0;
}
  
.sv-element-detail {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5f1e1;
  box-shadow: inset 1px 2px 5px #87b3cc;
  border-radius: 2px;
}
.sv-element-detail-vide {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fddbcc !important;
  border-radius: 2px;
}
tr.detail-row {
  height: 0!important;
}
tr.sv-element-row:not(.sv-expanded-row):hover {
  background: rgb(236, 235, 132);
}
  
tr.sv-element-row:not(.sv-expanded-row):active {
  background: #e4b5ff !important;
}
.btn-info {
  color: white;
  background-color: #0d3c68;
  padding: 0px;
}
// Button
.btn-dimension {
  height: 23px!important;
  line-height: 23px!important;
}