<ion-header>
  <ion-toolbar>
    <button ion-button icon-only routerLink="/homes" routerDirection="root">
      <ion-icon name="arrow-round-back"></ion-icon>
    </button>
    <ion-title>synchro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    mise en place identifier : {{data_culture.length}}
    <button mat-raised-button (click)="onSyncCulture()" class="demo-button" [disabled] = "data_culture.length === 0">
      Sync
    </button>
  </p>
  <p>
    suivi effectuer : {{data_suivi.length}}
    <button mat-raised-button (click)="onSyncSuivi()" class="demo-button" [disabled] = "data_suivi.length === 0">
      Sync
    </button>
  </p>
  <p>
    MEP Bloc: {{data_mep_bloc.length}}
    <button mat-raised-button (click)="onSyncMepBl()" class="demo-button" [disabled] = "data_mep_bloc.length === 0">
      Sync
    </button>
  </p>
  <p>
    Suivi Bloc: {{data_suivi_bloc.length}}
    <button mat-raised-button (click)="onSyncSuiviBl()" class="demo-button" [disabled] = "data_suivi_bloc.length === 0">
      Sync
    </button>
  </p>
  <p>
    Beneficiaire Activiter PR: {{data_benef_activ_pr.length}}
    <button mat-raised-button (click)="onSyncBenefeActivePr()" class="demo-button" [disabled] = "data_benef_activ_pr.length === 0">
      Sync
    </button>
  </p>
  <p>
    Animation PR : {{data_anime_ve.length}}
    <button mat-raised-button (click)="onSyncAnimationVe()" class="demo-button" [disabled] = "data_anime_ve.length === 0">
      Sync
    </button>
  </p>
  <p>
    MEP CEP: {{data_mep_pr.length}}
    <button mat-raised-button (click)="onSyncMepPR()" class="demo-button" [disabled] = "data_mep_pr.length === 0">
      Sync
    </button>
  </p>
  <p>
    Suivi CEP: {{data_suivi_pr.length}}
    <button mat-raised-button (click)="onSyncSuiviPr()" class="demo-button" [disabled] = "data_suivi_pr.length === 0">
      Sync
    </button>
  </p>
</ion-content>
