<!-- Card Modal -->
      <ion-content >  
        <div fxLayoutAlign="center center" fxFlexFill class="example-container">
          <mat-card fxFlex="100" class="modal-card">
            <mat-card-header color="success">
              <mat-card-title>
                <div class="ion-text-center ion-text-wrap">
                    <span *ngIf="isHome">Zone d'intervention</span> 
                </div>
                <div class="ion-text-center ion-text-wrap">
                  <span *ngIf="isLogin">Importation de donnée</span> 
                </div>
                <div class="ion-text-center ion-text-wrap">
                  <span *ngIf="isSuiviRp">Ajouter nouveau culture</span> 
                </div>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form *ngIf="isHome">
                <div  class="form-content">
                  <mat-form-field appearance="fill">
                    <mat-label>Region</mat-label>
                    <mat-select [(value)]="selected_region">
                      <mat-option (click)="onRegion()" *ngFor="let region of data_region" [value]="region">
                        {{ region.nom_reg }}
                      </mat-option>
                    </mat-select>
                    <mat-hint align="end">formulaire obligatoire</mat-hint>
                  </mat-form-field>	
                  <mat-form-field appearance="fill">
                    <mat-label>District</mat-label>
                    <mat-select [(value)]="selected_district">
                      <mat-option> --Aucune-- </mat-option>
                      <mat-option (click)="onDistrict()" *ngFor="let district of data_district" [value]="district"> {{ district.nom_dist }} </mat-option>
                    </mat-select>
                    <mat-hint align="end">formulaire obligatoire</mat-hint>
                  </mat-form-field>	
                  <mat-form-field *ngIf="!isBloc" appearance="fill">
                    <mat-label>Commune</mat-label>
                    <mat-select [(value)]="selected_commune">
                      <mat-option (click)="onCommune()" *ngFor="let commune of data_commune" [value]="commune">
                        {{ commune.nom_com }}
                      </mat-option>
                    </mat-select>
                    <mat-hint align="end">formulaire obligatoire</mat-hint>
                  </mat-form-field>	
                </div>
              </form> 

              <!-- Login page -->
              <mat-list *ngIf="isLogin">
                <mat-list-item>
                  <mat-checkbox class="example-margin"
                                [checked]="allComplete"
                                [color]="task.color"
                                [indeterminate]="someComplete()"
                                (change)="setAll($event.checked)">
                    {{task.nom}}
                  </mat-checkbox>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item *ngFor="let subtask of task.subtasks">
                  <mat-checkbox [(ngModel)]="subtask.completed"
                  [color]="subtask.color"
                  (ngModelChange)="updateAllComplete()">
                    {{subtask.nom}}
                  </mat-checkbox>
                </mat-list-item>
             </mat-list>    
             
             <!--Login page-->
             <div *ngIf="isSuiviRp">
               <div class="contonair-flex">
                 <div fxLayout="column width100">
                   <!-- Row Saison -->
                  <div class="child-column-flex1" fxLayout="row">
                    <div class="child-row-flex">
                      <mat-form-field appearance="outline" floatLabel="auto">
                        <mat-label>saison</mat-label>
                        <mat-select [(value)]="selected_saison">
                          <mat-option>none</mat-option>
                          <mat-option *ngFor="let saison of data_saison" [value]="saison">
                            {{ saison.description }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>	
                    </div>
                    <div class="child-row-flex">
                      <mat-form-field appearance="outline" floatLabel="auto">
                        <mat-label>Annee_du</mat-label>
                        <mat-select [(value)]="selected_annee">
                          <mat-option>none</mat-option>
                          <mat-option *ngFor="let annee of annee_du" [value]="annee">
                            {{ annee }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>	
                    </div>
                    <div class="child-row-flex">
                      <mat-form-field appearance="fill">
                        <mat-label>dds</mat-label>
                        <input matInput [matDatepicker]="ds" [(ngModel)]="dateSemis">
                        <mat-datepicker-toggle matSuffix [for]="ds"></mat-datepicker-toggle>
                        <mat-datepicker #ds></mat-datepicker>
                      </mat-form-field>	
                    </div>
                  </div>
                  <!--Association pms parcelle-->
                  <div class="chold-column-flex2" fxLayout="row">
                    <div class="child-row-flex">
                      <mat-form-field appearance="outline" floatLabel="auto">
                        <mat-label>Association</mat-label>
                        <mat-select [(value)]="selected_association" [compareWith]="compareObjectsAssoc">
                          <mat-option>none</mat-option>
                          <mat-option (click)="onSelectAssoc()" *ngFor="let assoc of data_association" [value]="assoc">
                            {{ assoc.nom_ass }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>	
                    </div>
                    <div class="child-row-flex">
                      <mat-form-field appearance="outline" floatLabel="auto">
                        <mat-label>pms</mat-label>
                        <mat-select [(value)]="selected_pms" [compareWith]="compareObjectsPms">
                          <mat-option>none</mat-option>
                          <mat-option (click)="onSelectPms()" *ngFor="let pms of data_pms_filtre" [value]="pms">
                            {{ pms.nom_benef }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>	
                    </div>
                    <div class="child-row-flex">
                      <mat-form-field appearance="outline" floatLabel="auto">
                        <mat-label>parcelle</mat-label>
                        <mat-select  [(value)]="selected_parcelle" [compareWith]="compareObjectsParce">
                          <mat-option>none</mat-option>
                          <mat-option *ngFor="let parce of data_parcelle_Filtre" [value]="parce">
                            {{ parce.code_parce }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>	
                    </div>
                  </div>
                  <!--Espece-->
                  <div class="child-column-flex3" fxLayout="row">
                    <div class="child-row-flex">
                      <mat-form-field appearance="outline">
                        <mat-label>espece</mat-label>
                        <mat-select [(value)]="selected_espece" [compareWith]="compareObjectsEspece">
                          <mat-option>none</mat-option>
                          <mat-option (click)="onSelectEspece()" *ngFor="let espece of data_espece" [value]="espece">
                            {{ espece.nom_espece }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>	
                    </div>
                    <div class="child-row-flex">
                      <mat-form-field appearance="outline">
                        <mat-label>variette</mat-label>
                        <mat-select [(value)]="selected_variette">
                          <mat-option>none</mat-option>
                          <mat-option *ngFor="let variette of data_variette_filter" [value]="variette">
                            {{ variette.nom_var }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>	
                    </div>
                    <div class="child-row-flex">
                      <mat-form-field appearance="fill">
                        <mat-label>ddp</mat-label>
                        <input matInput [matDatepicker]="dp" [(ngModel)]="ddp" disabled>
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp disabled="false"></mat-datepicker>
                      </mat-form-field>	
                    </div>
                  </div>
                  <!--Saisie formulaire qsa, dds, objectif,  sfce-->
                  <div class="child-column-flex3" fxLayout="row">
                    <div class="child-row-flex">
                      <mat-form-field appearance="outline">
                        <mat-label>qsa</mat-label>
                        <input matInput type="number" maxLength="5" placeholder="Merci de saisissez!" [(ngModel)]="qsa">
                      </mat-form-field>	
                    </div>
                    <div class="child-row-flex">
                      <mat-form-field appearance="outline">
                        <mat-label>sfce</mat-label>
                        <input matInput type="number" placeholder="Merci de saisissez!" [(ngModel)]="sfce">
                      </mat-form-field>	
                    </div>
                    <div class="child-row-flex">
                      <mat-form-field appearance="outline">
                        <mat-label>objectif</mat-label>
                        <input matInput type="number" placeholder="Merci de saisissez!" [(ngModel)]="Objectif">
                      </mat-form-field>	
                    </div>
                  </div>
                  <!--Systeme culturale-->
                  <div class="child-column-flex4" fxLayout="row">
                    <div class="child-row-flex">
                      <mat-form-field appearance="outline">
                        <mat-label>Systeme cultural</mat-label>
                        <mat-select [(value)]="selected_sc">
                          <mat-option>none</mat-option>
                          <mat-option (click)="onSeletSc()" *ngFor="let sc of data_sc" [value]="sc">
                            {{ sc.description }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>	
                    </div>
                    <div class="child-row-flex" *ngIf="isCulteAssocie">
                      <mat-form-field appearance="outline">
                        <mat-label>espece associé</mat-label>
                        <mat-select [(value)]="selected_espece_ea">
                          <mat-option (click)="onSelectEspeceAutre('autre')">Autres</mat-option>
                          <mat-option (click)="onSelectEspeceAutre('espece')" *ngFor="let espece of data_espece" [value]="espece">
                            {{ espece.nom_espece }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="child-row-flex" *ngIf="isCulteAssocie && !isSelectedOtherCulte">
                      <mat-form-field appearance="outline">
                        <mat-label>variette associé</mat-label>
                        <mat-select [(value)]="selected_variette_ea">
                          <mat-option>none</mat-option>
                          <mat-option *ngFor="let variette of data_variette_filter_ea" [value]="variette">
                            {{ variette.nom_var }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>	
                    </div>
                    <div class="child-row-flex" *ngIf="isSelectedOtherCulte">
                      <mat-form-field appearance="outline">
                        <mat-label>autres culture</mat-label>
                        <input matInput placeholder="Merci de saisissez!" [(ngModel)]="autreCultureEa">
                      </mat-form-field>	
                    </div>
                  </div>
                 </div>
               </div>
             </div>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center center" fxFlexFill>
              <button *ngIf="isHome" mat-button (click)="revenirModal()" color="warning">Revenir</button>
              <button *ngIf="isHome" mat-raised-button color="primary" type="submit" (click)="closeModal()">valider</button>                
              <button *ngIf="isLogin" mat-raised-button color="primary" type="submit" (click)="importData()">importer</button>
              <!--button suivi rp-->
              <button *ngIf="isSuiviRp" mat-raised-button color="danger" type="submit" (click)="revenirModal()">annuler</button>
              <button *ngIf="isSuiviRp" mat-raised-button color="success" type="submit" (click)="addCulture()">valider</button>      
            </mat-card-actions>
          </mat-card>
      </div>
    </ion-content>
  
