<ion-header>
  <div class="container-header-flex">
    <div class="flex-container" fxLayout="row">
      <div class="flex-child-1" fxLayoutAlign="center center">
        <ion-buttons>
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
      </div>

      <div class="flex-child-2 width100" fxLayoutAlign="center center">
        <div class="flex-container width100" fxLayout="column">
          <div class="column-child-1" fxLayoutAlign="center center" fxLayout="row">
            <div class="ion-text-center ion-text-wrap">
              gestion des paysants Relais
            </div>
            <div>
              <button ion-button icon-only (click)="onClick()">
                <ion-icon name="arrow-round-back"></ion-icon>
              </button>
            </div>
          </div> 
          <div class="column-child-2">
            <div class="flex-container" fxLayout="row" fxLayoutGap="5px" style="justify-content: space-around;">
              <div class="child1-row-flex" fxLayout="row" fxLayoutGap="2px">
                <div class="label-region" fxLayoutAlign="center center">Region</div>
                <mat-card class="item-matcard-flex" fxLayoutAlign="start center"></mat-card> 
              </div>
              <div class="child2-row-flex" fxLayout="row" fxLayoutGap="2px">
                <div class="label-region" fxLayoutAlign="center center">District</div>
                <mat-card class="item-matcard-flex" fxLayoutAlign="start center"></mat-card> 
              </div>
              <div class="child3-row-flex" fxLayout="row" fxLayoutGap="2px">
                <div class="label-region" fxLayoutAlign="center center">Commune</div>
                <mat-card class="item-matcard-flex" fxLayoutAlign="start center"></mat-card>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Paysants relais">  
      <div class="contonair-flex">
        <div fxLayout="column width100">
          <div class="child-column-flex" fxLayout="row">
            <ion-button (click)="onExport()" [disabled]="isUpdate || data_pr.length == 0">Exporte</ion-button>
            <button mat-raised-button (click)="onUpdate()" color="primary" *ngIf="!isUpdate">Modifier</button>
            <button mat-raised-button (click)="onFinish()" color="primary" *ngIf="isUpdate">Terminer</button>
          </div>
        </div>
        <h5>PR</h5>
        <button mat-raised-button (click)="onToggleTableRows()" color="primary">Tout Afficher</button>
        <button mat-raised-button (click)="onPresentModal({src: 'add'})" color="primary" *ngIf="!isAddPr && !isRowEdit && !isAddCep && isUpdate">Ajouter</button>
        <div [formGroup]="cepForm" class="table-container">
          <!--If multiTemplateDataRows property of mat-table to true, you can't use index. Instead you have use either dataIndex-->
          <table mat-table [dataSource]="dataSourcePR" class="example-table" multiTemplateDataRows>
            <!-- Image culture Column -->
            <ng-container matColumnDef="img_pr">
              <th mat-header-cell *matHeaderCellDef>img</th>
              <td mat-cell *matCellDef="let row; let i = dataIndex;">  
                <span *ngIf="!isRowEdit || indeRowEdit != i">
                  <ion-thumbnail slot="start">
                    <ion-img [src]="row.img_benef"></ion-img>
                  </ion-thumbnail>
                </span>
                <span *ngIf="indeRowEdit == i  && isRowEdit">
                  <ion-thumbnail slot="start">
                    <ion-img [src]="update_benef.img_pr.data" *ngIf="update_benef.img_pr != null"></ion-img>
                    <ion-img [src]="update_benef.img_pr" *ngIf="update_benef.img_pr == null"></ion-img>
                  </ion-thumbnail>
                </span>
              </td>
            </ng-container>  
            <!-- New Image PR Column -->
            <ng-container matColumnDef="new_img_pr">
              <th mat-header-cell *matHeaderCellDef> 
                <span>
                  <ion-thumbnail slot="start">
                    <ion-img [src]="update_benef.img_pr.data" *ngIf="update_benef.img_pr != null"></ion-img>
                    <ion-img [src]="update_benef.img_pr" *ngIf="update_benef.img_pr == null"></ion-img>
                  </ion-thumbnail>
                </span>
              </th>
            </ng-container> 

            <!--Column code_pr-->
            <ng-container matColumnDef="code_pr">
              <th mat-header-cell *matHeaderCellDef>Code Pr</th>
              <td mat-cell *matCellDef="let row; dataIndex as i;">
                <span *ngIf="!isRowEdit || indeRowEdit != i">
                  {{row.code_pr}}
                </span>
                <span *ngIf="indeRowEdit == i  && isRowEdit">
                  {{row.code_pr}}
                </span>
              </td>
            </ng-container>
            <!--New Column code_pr-->
            <ng-container matColumnDef="new_code_pr">
              <th mat-header-cell *matHeaderCellDef></th>
            </ng-container>

            <!--Column code_achat-->
            <ng-container matColumnDef="code_achat">
              <th mat-header-cell *matHeaderCellDef>Code achat</th>
              <td mat-cell *matCellDef="let row; dataIndex as i;">
                <span *ngIf="!isRowEdit || indeRowEdit != i">
                  {{row.code_achat}}
                </span>
                <span *ngIf="indeRowEdit == i  && isRowEdit">
                  {{update_benef.code_achat}}
                </span>
              </td>
            </ng-container>
            <!--Column New code_achat-->
            <ng-container matColumnDef="new_code_achat">
              <th mat-header-cell *matHeaderCellDef>{{update_benef.code_achat}}</th>
            </ng-container>

            <!--Column nom-->
            <ng-container matColumnDef="nom">
              <th mat-header-cell *matHeaderCellDef>Nom</th>
              <td mat-cell *matCellDef="let row; dataIndex as i;">
                <span *ngIf="!isRowEdit || indeRowEdit != i">
                  {{row.nom}} {{row.prenom}}
                </span>
                <span *ngIf="indeRowEdit == i  && isRowEdit">
                  {{update_benef.nom}} {{update_benef.prenom}}
                </span>
              </td>
            </ng-container>
            <!--Column New Nom-->
            <ng-container matColumnDef="new_nom">
              <th mat-header-cell *matHeaderCellDef>{{update_benef.nom}} {{update_benef.prenom}}</th>
            </ng-container>

            <!--Column sexe-->
            <ng-container matColumnDef="sexe">
              <th mat-header-cell *matHeaderCellDef>Sexe</th>
              <td mat-cell *matCellDef="let row; dataIndex as i;">
                <span *ngIf="!isRowEdit || indeRowEdit != i">
                  {{row.sexe}}
                </span>
                <span *ngIf="indeRowEdit == i  && isRowEdit">
                  {{update_benef.sexe}}
                </span>
              </td>
            </ng-container>
            <!--Column New sexe-->
            <ng-container matColumnDef="new_sexe">
              <th mat-header-cell *matHeaderCellDef>{{update_benef.sexe}}</th>
            </ng-container>

            <!--Column surnom-->
            <ng-container matColumnDef="surnom">
              <th mat-header-cell *matHeaderCellDef>Surnom</th>
              <td mat-cell *matCellDef="let row; dataIndex as i;">
                <span *ngIf="!isRowEdit || indeRowEdit != i">
                  {{row.surnom}}
                </span>
                <span *ngIf="indeRowEdit == i  && isRowEdit">
                  {{update_benef.surnom}}
                </span>
              </td>
            </ng-container>
            <!--Column New surnom-->
            <ng-container matColumnDef="new_surnom">
              <th mat-header-cell *matHeaderCellDef>{{update_benef.surnom}}</th>
            </ng-container>

            <!--Column surnom-->
            <ng-container matColumnDef="dt_nais">
              <th mat-header-cell *matHeaderCellDef>Dt_nais</th>
              <td mat-cell *matCellDef="let row; dataIndex as i;">
                <span *ngIf="!isRowEdit || indeRowEdit != i">
                  {{row.date_naissance}}
                </span>
                <span *ngIf="indeRowEdit == i  && isRowEdit">
                  {{update_benef.dt_naissance != null?update_benef.dt_naissance:update_benef.dt_naissance_vers}}
                </span>
              </td>
            </ng-container>
            <!--Column New surnom-->
            <ng-container matColumnDef="new_dt_nais">
              <th mat-header-cell *matHeaderCellDef>{{update_benef.dt_naissance != null?update_benef.dt_naissance:update_benef.dt_naissance_vers}}</th>
            </ng-container>

            <!--Column cin-->
            <ng-container matColumnDef="cin">
              <th mat-header-cell *matHeaderCellDef>CIN</th>
              <td mat-cell *matCellDef="let row; dataIndex as i;">
                <span *ngIf="!isRowEdit || indeRowEdit != i">
                  {{row.cin}}
                </span>
                <span *ngIf="indeRowEdit == i  && isRowEdit">
                  {{update_benef.cin}}
                </span>
              </td>
            </ng-container>
            <!--Column new cin-->
            <ng-container matColumnDef="new_cin">
              <th mat-header-cell *matHeaderCellDef>{{update_benef.cin}}</th>
            </ng-container>

            <!--Column commune-->
            <ng-container matColumnDef="commune">
              <th mat-header-cell *matHeaderCellDef>Commune</th>
              <td mat-cell *matCellDef="let row; dataIndex as i;">
                <span *ngIf="!isRowEdit || indeRowEdit != i">
                  {{row.commune}}
                </span>
                <span *ngIf="indeRowEdit == i  && isRowEdit">
                  {{update_benef.commune.nom_com}}
                </span>
              </td>
            </ng-container>
            <!--Column New commune-->
            <ng-container matColumnDef="new_commune">
              <th mat-header-cell *matHeaderCellDef></th>
            </ng-container>

            <!--Column fokontany-->
            <ng-container matColumnDef="fokontany">
              <th mat-header-cell *matHeaderCellDef>Fokontany</th>
              <td mat-cell *matCellDef="let row; dataIndex as i;">
                <span *ngIf="!isRowEdit || indeRowEdit != i">
                  {{row.fokontany}}
                </span>
                <span *ngIf="indeRowEdit == i  && isRowEdit">
                  {{update_benef.fokontany !== null?update_benef.fokontany.nom_fkt:update_benef.village}}
                </span>
              </td>
            </ng-container>
            <!--Column New fokontany-->
            <ng-container matColumnDef="new_fokontany">
              <th mat-header-cell *matHeaderCellDef>{{update_benef.fokontany !== null?update_benef.fokontany.nom_fkt:update_benef.village}}</th>
            </ng-container>

            <!--Column Action-->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let row; dataIndex as i;">
                <span *ngIf="indeRowEdit == i  && isRowEdit && isUpdate">
                  <a (click)="onSaveEdit({data: row})">modifier</a> |
                  <a (click)="onCancelEdit()">Annuler</a>
                </span>
                <span *ngIf="!isAddPr && !isUpdate && !isRowEdit && !isRowEditCep">
                  <button mat-flat-button class="btn-info btn-dimension" (click)="row.isExpanded = !row.isExpanded">afficher</button>
                </span>
                <span *ngIf="!isAddPr && !isRowEdit && !isRowEditCep && !isAddCep && isUpdate">
                  <div fxLayout="column width100">
                    <div class="child-column-flex">
                      <button mat-flat-button class="btn-info btn-dimension" (click)="onEdit({data: row, index_: i})">Editer</button>
                    </div>
                    <div class="child-column-flex">
                      <button mat-flat-button class="btn-info btn-dimension" (click)="onAddCep({data: row, index_: i})">Ajouter</button>
                    </div>
                  </div>
                </span>
              </td>
            </ng-container>
            <!--Column New Action-->
            <ng-container matColumnDef="new_action">
              <th mat-header-cell *matHeaderCellDef>
                <span *ngIf="isAddPr">
                  <a (click)="onSaveAddPr()">Done</a> |
                  <a (click)="onCancelAddPr()">Cancel</a>
                </span>
              </th>
            </ng-container>

            <!-- Template for details row -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element; dataIndex as i;" [attr.colspan]="displayedColumnsPR.length">
                <div class="row sv-element-detail" [@detailExpand]="element.isExpanded && element.cep_pr.length > 0 || isUpdate && element.isExpanded? 'expanded' : 'collapsed'">
                  <table mat-table [dataSource]="element.cep_pr">
                    <!--Column code_parce-->
                    <ng-container matColumnDef="code_parce">
                      <th mat-header-cell *matHeaderCellDef>Code parce</th>
                      <td mat-cell *matCellDef="let row">{{row.code_parce}}</td>
                    </ng-container>
                    <ng-container matColumnDef="new_code_parce">
                      <th mat-header-cell *matHeaderCellDef></th>
                    </ng-container>

                    <!--Column bloc-->
                    <ng-container matColumnDef="bloc">
                      <th mat-header-cell *matHeaderCellDef>Bloc</th>
                      <td mat-cell *matCellDef="let row; index as inde;">
                        <span *ngIf="!isRowEditCep || indeRowEditCep != inde && indeRowEdit == i || indeRowEdit != i">
                          {{row.bloc_cep}}
                        </span>
                        <span *ngIf="indeRowEditCep == inde && indeRowEdit == i && isRowEditCep">
                          <mat-form-field appearance="outline" floatLabel="auto">
                            <mat-select formControlName="bloc">
                              <mat-option (click)="onNoneBloc()">Aucune</mat-option>
                              <mat-option *ngFor="let bloc of data_bloc" [value]="bloc">
                                {{ bloc.nom }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="new_bloc">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field appearance="outline" floatLabel="auto">
                          <mat-select formControlName="bloc">
                            <mat-option (click)="onNoneBloc()">Aucune</mat-option>
                            <mat-option *ngFor="let bloc of data_bloc" [value]="bloc">
                              {{ bloc.nom }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </th>
                    </ng-container>

                    <!--Column ref_gps-->
                    <ng-container matColumnDef="ref_gps">
                      <th mat-header-cell *matHeaderCellDef>ref_gps</th>
                      <td mat-cell *matCellDef="let row; index as inde;">
                        <span *ngIf="!isRowEditCep || indeRowEditCep != inde && indeRowEdit == i || indeRowEdit != i">
                          {{row.ref_gps}}
                        </span>
                        <span *ngIf="indeRowEditCep == inde && indeRowEdit == i && isRowEditCep">
                          <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="Ref gps!" formControlName="ref_gps">
                          </mat-form-field>
                        </span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="new_ref_gps">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field appearance="outline">
                          <input matInput type="text" placeholder="Ref gps!" formControlName="ref_gps">
                        </mat-form-field>
                      </th>
                    </ng-container>

                    <!--Column lat-->
                    <ng-container matColumnDef="lat">
                      <th mat-header-cell *matHeaderCellDef>Latitude</th>
                      <td mat-cell *matCellDef="let row; index as inde;">
                        <span *ngIf="!isRowEditCep || indeRowEditCep != inde && indeRowEdit == i || indeRowEdit != i">
                          {{row.lat}}
                        </span>
                        <span *ngIf="indeRowEditCep == inde && indeRowEdit == i && isRowEditCep">
                          <mat-form-field appearance="outline">
                            <mat-label>Latitude</mat-label>
                            <input matInput type="number" placeholder="Merci de saisissez!" formControlName="latitude">
                          </mat-form-field>
                        </span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="new_lat">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field appearance="outline">
                          <mat-label>Latitude</mat-label>
                          <input matInput type="number" placeholder="Merci de saisissez!" formControlName="latitude">
                        </mat-form-field>
                      </th>
                    </ng-container>

                    <!--Column log-->
                    <ng-container matColumnDef="log">
                      <th mat-header-cell *matHeaderCellDef>Log</th>
                      <td mat-cell *matCellDef="let row; index as inde;">
                        <span *ngIf="!isRowEditCep || indeRowEditCep != inde && indeRowEdit == i || indeRowEdit != i">
                          {{row.log}}
                        </span>
                        <span *ngIf="indeRowEditCep == inde && indeRowEdit == i  && isRowEditCep">
                          <mat-form-field appearance="outline">
                            <input matInput type="number" placeholder="longitude!" formControlName="longitude">
                          </mat-form-field>
                        </span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="new_log">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field appearance="outline">
                          <input matInput type="number" placeholder="longitude!" formControlName="longitude">
                        </mat-form-field>
                      </th>
                    </ng-container>

                    <!--Column superficie-->
                    <ng-container matColumnDef="superficie">
                      <th mat-header-cell *matHeaderCellDef>Superficie</th>
                      <td mat-cell *matCellDef="let row; index as inde;">
                        <span *ngIf="!isRowEditCep || indeRowEditCep != inde && indeRowEdit == i || indeRowEdit != i">
                          {{row.superficie}}
                        </span>
                        <span *ngIf="indeRowEditCep == inde && indeRowEdit == i  && isRowEditCep">
                          <mat-form-field appearance="outline">
                            <input matInput type="number" placeholder="superficie!" formControlName="superficie">
                          </mat-form-field>
                        </span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="new_superficie">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field appearance="outline">
                          <input matInput type="number" placeholder="superficie!" formControlName="superficie">
                        </mat-form-field>
                      </th>
                    </ng-container>

                    <!--Column Region-->
                    <ng-container matColumnDef="region">
                      <th mat-header-cell *matHeaderCellDef>Region</th>
                      <td mat-cell *matCellDef="let row; index as inde;">
                        <span *ngIf="!isRowEditCep || indeRowEditCep != inde && indeRowEdit == i || indeRowEdit != i">
                          {{row.nom_region}}
                        </span>
                        <span *ngIf="indeRowEditCep == inde && indeRowEdit == i  && isRowEditCep">
                          <mat-form-field appearance="outline" floatLabel="auto">
                            <mat-select formControlName="region">
                              <mat-option (click)="onSelectRegion()" *ngFor="let reg of data_region" [value]="reg">
                                {{ reg.nom_reg }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="new_region">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field appearance="outline" floatLabel="auto">
                          <mat-select formControlName="region">
                            <mat-option (click)="onSelectRegion()" *ngFor="let reg of data_region" [value]="reg">
                              {{ reg.nom_reg }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </th>
                    </ng-container>

                    <!--Column District-->
                    <ng-container matColumnDef="district">
                      <th mat-header-cell *matHeaderCellDef>District</th>
                      <td mat-cell *matCellDef="let row; index as inde;">
                        <span *ngIf="!isRowEditCep || indeRowEditCep != inde && indeRowEdit == i || indeRowEdit != i">
                          {{ row.district }}
                        </span>
                        <span *ngIf="indeRowEditCep == inde && indeRowEdit == i && isRowEditCep">
                          <mat-form-field appearance="outline" floatLabel="auto">
                            <mat-select formControlName="district">
                              <mat-option (click)="onSelectDistrict()" *ngFor="let dist of data_district_filter" [value]="dist">
                                {{ dist.nom_dist }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="new_district">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field appearance="outline" floatLabel="auto">
                          <mat-select formControlName="district">
                            <mat-option (click)="onSelectDistrict()" *ngFor="let dist of data_district_filter" [value]="dist">
                              {{ dist.nom_dist }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </th>
                    </ng-container>

                    <!--Column commune-->
                    <ng-container matColumnDef="commune">
                      <th mat-header-cell *matHeaderCellDef>Commune</th>
                      <td mat-cell *matCellDef="let row; index as inde;">
                        <span *ngIf="!isRowEditCep || indeRowEditCep != inde && indeRowEdit == i || indeRowEdit != i">
                          {{row.commune}}
                        </span>
                        <span *ngIf="indeRowEditCep == inde  && indeRowEdit == i && isRowEditCep">
                          <mat-form-field appearance="outline" floatLabel="auto">
                            <mat-select formControlName="commune">
                              <mat-option (click)="onSelectCommune()" *ngFor="let com of data_commune_filter" [value]="com">
                                {{ com.nom_com }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="new_commune">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field appearance="outline" floatLabel="auto">
                          <mat-select formControlName="commune">
                            <mat-option (click)="onSelectCommune()" *ngFor="let com of data_commune_filter" [value]="com">
                              {{ com.nom_com }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </th>
                    </ng-container>

                    <!--Column fokontany-->
                    <ng-container matColumnDef="fokontany">
                      <th mat-header-cell *matHeaderCellDef>Fokontany</th>
                      <td mat-cell *matCellDef="let row; index as inde;">
                        <span *ngIf="!isRowEditCep || indeRowEditCep != inde && indeRowEdit == i || indeRowEdit != i">
                          {{row.fokontany}}
                        </span>
                        <span *ngIf="indeRowEditCep == inde && indeRowEdit == i  && isRowEditCep">
                          <div class="child-row-flex">
                            <mat-form-field appearance="outline" floatLabel="auto">
                              <mat-select formControlName="fokontany">
                                <mat-option (click)="onSelectFokontany('autres')" *ngIf="data_fokontany_filter.length !== 0">Autres</mat-option>
                                <mat-option (click)="onSelectFokontany('fokontany')" *ngFor="let fkt of data_fokontany_filter" [value]="fkt">
                                  {{ fkt.nom_fkt }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <!--Formulaire Village-->
                          <div class="child-row-flex" *ngIf="isAutresFkt">
                            <mat-form-field appearance="outline">
                              <mat-label>Village</mat-label>
                              <input matInput type="text" placeholder="Merci de saisissez!" formControlName="village">
                            </mat-form-field>
                          </div>
                        </span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="new_fokontany">
                      <th mat-header-cell *matHeaderCellDef>
                        <div class="child-row-flex">
                          <mat-form-field appearance="outline" floatLabel="auto">
                            <mat-select formControlName="fokontany">
                              <mat-option (click)="onSelectFokontany('autres')" *ngIf="data_fokontany_filter.length !== 0">Autres</mat-option>
                              <mat-option (click)="onSelectFokontany('fokontany')" *ngFor="let fkt of data_fokontany_filter" [value]="fkt">
                                {{ fkt.nom_fkt }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <!--Formulaire Village-->
                        <div class="child-row-flex" *ngIf="isAutresFkt">
                          <mat-form-field appearance="outline">
                            <mat-label>Village</mat-label>
                            <input matInput type="text" placeholder="Merci de saisissez!" formControlName="village">
                          </mat-form-field>
                        </div>
                      </th>
                    </ng-container>

                    <!--Column Action-->
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef>Action</th>
                      <td mat-cell *matCellDef="let row; index as inde;">
                        <span *ngIf="!isRowEditCep">
                          <a (click)="onEditCep({data: row, index_cep: inde, index_benef: i})">Editer</a>
                        </span>
                        <span *ngIf="indeRowEditCep == inde && indeRowEdit == i  && isRowEditCep">
                          <div class="child-btn" fxLayout="row">
                            <div class="child-row1">
                              <button mat-raised-button (click)="onCancelEditCep()" color="danger">Annuller</button>
                            </div>
                            <div class="child-row1">
                              <button mat-raised-button (click)="onSaveEditCep(row)" color="primary" [disabled]="!cepForm.valid || isValidate && cepForm.value.fokontany !== null || cepForm.value.village !== null">Valider</button>
                            </div>
                          </div>
                        </span>
                      </td>
                    </ng-container>
                    <!--Column New Action-->
                    <ng-container matColumnDef="new_action">
                      <th mat-header-cell *matHeaderCellDef>
                        <span>
                          <!--Column boutton-->
                          <div class="child-btn" fxLayout="row">
                            <div class="child-row1">
                              <button mat-raised-button (click)="onCancelAddCep()" color="danger">Annuller</button>
                            </div>
                            <div class="child-row1">
                              <button mat-raised-button (click)="onSaveAddCep(element)" color="primary" [disabled]="!cepForm.valid || isValidate && cepForm.value.fokontany !== null || cepForm.value.village !== null">Valider</button>
                            </div>
                          </div>
                        </span>
                      </th>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsParce" class="hg-header-row-2"></tr>
                    <tr [hidden]="!isAddCep || indeRowEdit != i && isAddCep" mat-header-row *matHeaderRowDef="displayedColumnsAddParce; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsParce;" class="hg-element-row"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" [attr.colspan]="displayedColumnsParce.length">Aucun enregistrement</td>
                    </tr>
                  </table>
                </div>
                <div class="row sv-element-detail-vide" [@detailExpand]="!isUpdate && element.isExpanded && element.cep_pr.length == 0? 'expanded' : 'collapsed'">
                  <div mat-line>Aucun champs Ecole Enregistrer pour PR {{element.code_pr}}</div>
                </div>
    
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsPR" class="hg-header-row-1"></tr>
            <tr [hidden]="!isAddPr" mat-header-row *matHeaderRowDef="displayedAddColumnsPR; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsPR;" class="sv-element-row hg-element-row" [class.sv-expanded-row]="row.isExpanded" [class.sv-row-vide]="row.cep_pr.length == 0"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    
            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumnsPR.length">Aucun enregistrement</td>
            </tr>
          </table>
        </div>
        <div>
          <button mat-raised-button (click)="onRefresh()" color="primary">Refresh</button>
        </div>
    </div>
    </mat-tab>
    <mat-tab label="Parcelle">
    </mat-tab>
  </mat-tab-group>
</ion-content>
