/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.my-custom-modal {
    &::part(content) {
        height: 60%;
        width: 75%;
        border-radius: 30px;
    }
}
.my-custom-modal-suivi {
    &::part(content) {
        height: 80%;
        width: 65%;
        border-radius: 30px;
    }
}
/**
* Css Header flex
*/
.container-header-flex {
    height:63px;
    padding: 3px 1px 1px;
    background-color: rgb(17, 100, 59);;
}
.width100 {
    width: 100%;
}
.flex-child-2 {
    //border: 1px solid;
}
.flex-child-1 {
    //background-color: rgb(85, 146, 238);
}
.column-child-1 {
    //background-color: aquamarine;
    padding: 1px 0;
}
.column-child-2 {
    //background-color: rgb(228, 172, 98);
}
.item-matcard-flex {
    height:30px;
}

/**************************************
*TABLE 
***************************************/
table {
    width: 100%;
}
.table-container {
    position: relative;
    min-height: 250px;
    max-height: 400px;
    overflow: auto;
}
tr.mat-header-row {
    height: 30px;
    background-color: rgb(116 177 198);
}
::ng-deep .second-header-row {
    background-color: rgb(173, 194, 100) !important;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 2px;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0px;
}
tr.mat-row, tr.mat-footer-row {
    height: 15px;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-right-width: 0.4px;
    border-right-style: inset;
}